/* == normalize== */
body {
    background-color: #fff;
    position: relative;
    z-index: 1;
/* ==  #0058ff #ff5100 == */}

#body {background-color:transparent;}
*{font-family:  Cambria, Arial, sans-srif;}
h1{
    font-size: 46px;
    line-height: 110%;
    color: #2F1C6A;
    letter-spacing: 1px;
}
p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #36344D;
    letter-spacing: .3px;
}
/* == Global CSS == */
.image-upload{
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 0;
}
.btn {
    border-radius: 0;
    background-color: #ff5100;
    padding: 3px 8px;
    border:#ff5100;
    color: #fff;
    margin:0 
}
.btn:hover {
    border-radius: 0;
    background-color: #ff5100d4;
    padding: 3px 8px;
    border:#ff5100;
    color: #fff;
    margin:0 
}
.bg-light img,
.bg-body img{
    border-radius: 50%;
}
.btn-outline-orange {
    color: #0058ff;
    border-color: #0058ff;
}
.btn-outline-secondary {
    color: #393E46;
    border-color: #393E46;
}
.dropdown-item > a{text-decoration: none !important;color: #6c757d !important;}
/*== begin header style == */
.navbar-dark{
    background-color: transparent !important;
    margin-bottom: 25px;
    box-shadow: 0px 0px 21px rgb(1 1 1 / 13%);
}

.navbar-dark .container .navbar-brand{
    text-transform: capitalize;
     font-family: 'Amita';
   background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    font-size: 24px;
    font-weight: 900
}
.navbar-dark .ml-auto > a,
.navbar-dark .ml-auto .fixed a{
    font-family:Cambria, sans-serif;
    color: #36344D !important;
    border: 1px solid #36344D;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 15px;
}
.navbar-dark .container .nav-link {
    font-family:Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    text-transform: capitalize;
    color: #6c757d !important;
    letter-spacing: .3px;
}
.breadcrumb{background-color: #17313b;padding: 22px;}
.breadcrumb .breadcrumb-item,
.breadcrumb a{
    font-family:  Arial, sans-serif;
	color: #EEEEEE;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 0.08
}
/*== end header style ==*/

/* == ==*/
.card-footer {background-color: #fff}
.card-header {background-color: #fff}


/* == comments vue css == */
.comments{
    max-height: 800px;
    overflow-y: scroll;
}