/*== table style ==*/

.btn-secondary i,
.btn-danger i,
.btn-info i{
    font-size: 16px;
    font-weight: bold;
    margin: 1px;
    color: #FFF;
}


/* == header style == */
.navbar-expand-md {
    background-color: #fff !important;
    box-shadow: none;
}
.navbar-expand-md .navbar-brand {
    color: #000 ;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-expand-md .nav-link {
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ==== User style ==== */
.btn-primary{
    border-radius: 15px;
    margin-left: 15px;
}

.profile img{
    border-radius: 50%;
    border:#FFAB4C 2px solid;
    padding: 2px;
    opacity: 0.9;
}

.profile .list-unstyled{
   font-weight: bold;
   color: rgba(0, 0, 0, 0.54);
   font-size: 14px;
   margin: 5px;
   padding: 5px;
   margin-top: 20px;
}

/* ==== routes breadcumb === */
.breadcrumb{
    background-color: #142F43;
}
.breadcrumb .breadcrumb-item{
    color: #fff;
    text-decoration: none;

}

/* === blog card style === */
.card-header{
    background-color: #fff;
}
.card-header .card-title{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: system-ui;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.6) !important;
}

.card-header .text-right,
.card-header a{
    color: #787878;
    font-weight: bold;
    font-size: 17px;
    margin: 0 6px;
}

.card-body .edit-profile{
    position: absolute;
    z-index: 20;
    text-align: center;
    margin: 3px;
    background: #2e8b2e;
    color: #fff;
    border-radius: 100%;
    font-size: 12px;
    font-weight: bold;   
}

.card-body .edit-profile i{
    margin: 10px;
}

.modal-body .form-check {
    display: inline-block;
}

/* == ==*/
.categories-list:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}